<% taxonomies.each do |taxonomy| %>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading"><%= "Search by #{taxonomy.name}" %></div>
    <div class="panel-body">
      <% taxonomy.root.leaves.each do |leave| %>
        <ul class="list-unstyled category_brand_panel_taxon">
          <li><%= link_to "#{leave.name} ( #{leave.products.count} )", potepan_category_path(leave.id, layout: params[:layout]) %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>