<% taxons_product.each do |product| %>
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left">
        <%= image_tag product.display_image.attachment(:small), class: "media-object" %>
        <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="single-product.html"><%= link_to product.name, potepan_product_path(product.id) %></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3><%= product.display_price %></h3>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
<% end %>