<div class="panel panel-default">
  <div class="panel-heading">Search in all</div>
  <div class="panel-body">
    <% taxonomies.each do |taxonomy| %>
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem search_in_all_taxon">
              <% taxonomy.root.leaves.each do |leave| %>
                <li><%= link_to "#{leave.name} ( #{leave.products.count} )", potepan_category_path(leave.id, layout: params[:layout]) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>