<%= provide(:title, @taxons.name) %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'search_in_all', taxonomies: @taxonomies %>
        <%= render 'price_range' %>
        <%= render 'categories_brand_panel', taxonomies: @taxonomies %>
        <%= render 'search_by_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= render 'sort_tab' %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default <%= "active" if grid_params? %>" onclick="window.location.href='<%= potepan_category_path(params[:id], layout: 'grid') %>'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default <%= "active" unless grid_params? %>" onclick="window.location.href='<%= potepan_category_path(params[:id], layout: 'list') %>'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <h3><%= @taxons.name %></h3>
          <% if grid_params? %>
            <%= render 'grid_products', taxons_product: @taxons_product %>
          <% else %>
            <div class="row productListSingle">
              <%= render 'list_products', taxons_product: @taxons_product %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'light_section' %>