<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/application_head' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/signup_modal' %>
    <%= render 'layouts/product_quick_view_modal' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/copyright' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>